html,body,div,form,p,tr,td,table,input,ol,ul,li,h1,h2,h3,h4 {margin:0;padding:0;}
li {list-style:none;}
img {border:none;margin:0;padding:0;}
table {border-collapse: collapse;}

body,html {
    font-family: "Helvetica Neue", Arial;
    font-size: 14px;
    color: #ffffff;
    background-color: #000000;
}

#forms {
    position: absolute;
    top: 10px;
    left: 10px;
}

#posterous-posts {
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#posterous-posts h3 {
    padding-bottom: 10px;
}
